BookstoreService/BookstoreWebForms/Service References/CartService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://unwe.bg" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://unwe.bg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://unwe.bg/Imports">
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd0" namespace="http://unwe.bg" />
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartService_CreateCart_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_CreateCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_AddToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_AddToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_RemoveFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_RemoveFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_SetPaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="ICartService_SetPaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_SetDeliveryOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDeliveryOptions" />
  </wsdl:message>
  <wsdl:message name="ICartService_SetDeliveryOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDeliveryOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_Purchase_InputMessage">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="ICartService_Purchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetDeliveryOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryOptions" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetDeliveryOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetPaymentMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentMethods" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetPaymentMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentMethodsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartService">
    <wsdl:operation name="CreateCart">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/CreateCart" message="tns:ICartService_CreateCart_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/CreateCartResponse" message="tns:ICartService_CreateCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/AddToCart" message="tns:ICartService_AddToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/AddToCartResponse" message="tns:ICartService_AddToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/GetCart" message="tns:ICartService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/GetCartResponse" message="tns:ICartService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/RemoveFromCart" message="tns:ICartService_RemoveFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/RemoveFromCartResponse" message="tns:ICartService_RemoveFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPaymentMethod">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/SetPaymentMethod" message="tns:ICartService_SetPaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/SetPaymentMethodResponse" message="tns:ICartService_SetPaymentMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDeliveryOptions">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/SetDeliveryOptions" message="tns:ICartService_SetDeliveryOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/SetDeliveryOptionsResponse" message="tns:ICartService_SetDeliveryOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/Purchase" message="tns:ICartService_Purchase_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/PurchaseResponse" message="tns:ICartService_Purchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOptions">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/GetDeliveryOptions" message="tns:ICartService_GetDeliveryOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/GetDeliveryOptionsResponse" message="tns:ICartService_GetDeliveryOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMethods">
      <wsdl:input wsaw:Action="http://unwe.bg/ICartService/GetPaymentMethods" message="tns:ICartService_GetPaymentMethods_InputMessage" />
      <wsdl:output wsaw:Action="http://unwe.bg/ICartService/GetPaymentMethodsResponse" message="tns:ICartService_GetPaymentMethods_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>