BookstoreService/BookstoreWebForms/Service References/CartService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://unwe.bg" elementFormDefault="qualified" targetNamespace="http://unwe.bg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8124/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" />
  <xs:element name="CreateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="CreateCartResult" nillable="true" type="q1:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="GetCartResult" nillable="true" type="q2:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFromCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPaymentMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="method" nillable="true" type="q3:PaymentMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPaymentMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPaymentMethodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeliveryOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="options" nillable="true" type="q4:DeliveryOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeliveryOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDeliveryOptionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Purchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="GetDeliveryOptionsResult" nillable="true" type="q5:ArrayOfDeliveryOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BookstoreService.Entities" minOccurs="0" name="GetPaymentMethodsResult" nillable="true" type="q6:ArrayOfPaymentMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>